@font-face {
  font-family: "Shin Go Pro";
  src: url("assets/fonts/ATTFShinGoProRegular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Shin Go Pro";
  src: url("assets/fonts/ATTFShinGoProMedium.ttf");
  font-weight: medium;
}

:root {
  /* COLORS */
  --bg-light-blue: #57bde3;
  --bg-dark-blue: #0a09ae;
  --clr-neutral-800: #252525;
  --clr-neutral-700: #4f4f4f;
  --clr-neutral-600: #6c6c6c;
  --clr-neutral-100: #f6f6f6;

  /* SHADOWS */
  --text-shadow: 0px 1px 3px rgb(0 0 0 / 0.33);
  --element-shadow: 0px 5px 3px rgba(0, 0, 0, 0.33);

  /* FONT SIZES */
  --fs-small: 0.8rem;
  --fs-large: 1.5rem;
}

/* GLOBAL -------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  background: linear-gradient(
    18deg,
    var(--bg-dark-blue) 0%,
    var(--bg-light-blue) 100%
  );
  display: grid;
  grid-template-rows: max-content auto max-content;
  /* gap: 1rem; */
  font-family: "Shin Go Pro", sans-serif;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
}

img {
  max-width: 100%;
}

h1 {
  line-height: 1.25;
  text-wrap: balance;
}

p {
  line-height: 1.25;
  text-wrap: pretty;
}

a {
  color: inherit;
}

nav {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* HEADER --------------------------------------------------------------------- */

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.logo {
  max-width: min(100%, 400px);
}

/* MAIN -------------------------------------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-button {
  --clr-button-top: rgb(255, 255, 255);
  --clr-button-bottom: rgb(255, 255, 255, 0.25);
  position: relative;
  text-decoration: none;
  text-shadow: var(--text-shadow);
  height: 75px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 3rem;
  font-size: var(--fs-large);
  z-index: 1;
  &::before,
  &::after {
    content: "";
    width: calc(100% - 2rem);
    height: 100%;
    position: absolute;
    left: 1rem;
    top: 0;
    transform: skewX(-22.5deg);
    z-index: -1;
  }
  &::before {
    background: linear-gradient(
      var(--clr-button-top) 0%,
      var(--clr-button-bottom) 100%
    );
  }
  &::after {
    border-bottom: 2px solid rgb(0, 0, 0, 0.75);
    border-right: 1px solid rgb(0, 0, 0, 0.5);
    border-left: none;
    border-top: none;
    filter: blur(1px);
    top: 0.25rem;
    z-index: -2;
  }
  &:hover,
  &:focus {
    --clr-button-top: rgb(255, 255, 255);
    --clr-button-mid: rgb(255, 255, 128);
    --clr-button-bottom: rgb(255, 217, 0);
    &::before {
      background: linear-gradient(
        var(--clr-button-top) 0%,
        var(--clr-button-bottom) 100%
      );
    }
  }
  &[disabled] {
    opacity: 0.25;
    &:hover,
    &:focus {
      cursor: not-allowed;
      &::before {
        --clr-button-top: rgb(255, 255, 255);
        --clr-button-bottom: rgb(255, 255, 255, 0.25);
        background: linear-gradient(
          var(--clr-button-top) 0%,
          var(--clr-button-bottom) 100%
        );
      }
    }
  }
}

.window {
  --padding: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(255, 255, 255, 0.5);
  width: min(calc(100% - 2rem), 400px);
  border-radius: 0.5rem;
  padding: var(--padding);
  gap: 1rem;
  &::before {
    content: "";
    width: calc(100% - calc(var(--padding) * 0.67));
    height: calc(100% - calc(var(--padding) * 0.67));
    position: absolute;
    left: calc(var(--padding) * 0.33);
    top: calc(var(--padding) * 0.33);
    border-radius: inherit;
    border: 1px solid black;
    z-index: -1;
  }
  & h1 {
    text-align: center;
  }
}

/* FORM ---------------------------------------------------------------------- */

form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form .window {
  margin-bottom: auto;
  gap: 0.5rem;
  & label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  & select,
  input {
    font-family: inherit;
    font-size: 1rem;
    padding-inline: 0.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-neutral-700);
  }
}

.form__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  & > * {
    position: relative;
    width: 120px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    & img {
      max-width: 70px;
    }
    &:hover,
    &:focus {
      cursor: pointer;
      outline: none;
      &::before {
        background: linear-gradient(
          var(--clr-neutral-600),
          var(--clr-neutral-700)
        );
      }
    }
    &::before {
      border: 2px solid var(--clr-neutral-100);
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: inherit;
      background: linear-gradient(
        var(--clr-neutral-700),
        var(--clr-neutral-800)
      );
      z-index: -1;
    }
  }
  .form__button--back {
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
    &::before {
      transform: skew(22.5deg);
      transform-origin: bottom;
      box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.33);
    }
  }
  .form__button--okay {
    border-right: none;
    border-radius: 0.5rem 0 0 0.5rem;
    justify-content: flex-end;
    &::before {
      transform: skew(-22.5deg);
      transform-origin: bottom;
      box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.33);
    }
  }
}

/* FOOTER -------------------------------------------------------------------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-small);
  padding: 1rem;
  color: white;
}

/* PARTICLES ----------------------------------------------------------------- */

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100dvh;
  display: none;
}

.particle {
  border-radius: 100vw;
  position: absolute;
  z-index: -1;
  display: none;
}
