a {
  text-decoration: none;
}

.window {
  margin-bottom: auto;
}

.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    .avatar__image {
      transform: scale(1.05);
    }
  }
}

.avatar__image {
  width: 5rem;
  transition: 200ms;
}

.avatar__name {
  font-weight: bold;
}
